.container{
    display: flex;
    border: 2px solid red;
    flex-direction: row;
   
    justify-content: center;
}
.item{
    padding: 20px;
    margin: 20px;
    border: seagreen 2px solid;
    background-color: silver;


    /* box box-shadow color x-factor y-factor  */
    /* box-shadow: skyblue 3px 3px ; */

/* box box-shadow: color x-factor y-factor blur factor;
    box-shadow: skyblue 3px 10px 3px; */

    /* box-shadow:  color x-factor y-factor blur factor spread factor;
    box-shadow: thistle 3px 10px 5px 10px; */

/* box -shadow : inset means inside the box , shadow will appear inside the  box 
    box-shadow: inset red 5px 10px 5px; */

    /* red shadow in x-direction and yellow shadow in y-direction
    box-shadow: 5px 5px red,5px 5px yellow;
   */
}

h1 p{
    text-shadow: salmon 3px 3px 3px ;
}