.box{
    background-color: tomato;
    height: 100px;
    width: 100px;

}

/* media queries are used so that websites should work in every width of browser window for mobile and desktop  */
@media (min-width : 600px){
    .box{
        background-color: yellow;
    }
}
@media (min-width : 800px){
    .box{
        background-color: black;
    }
}